<a href="https://colab.research.google.com/github/cauafelipe2004/analise-descritiva-python/blob/main/analise_descritiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

##Importando os dados

In [ ]:
df_vendas = pd.read_excel('Vendas.xlsx')
df_vendas.head()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2023-01-01,Loja São Paulo 1,HD SSD Samsung 256 Gb,1,358R$,358.0
1,1,2023-01-01,Loja São Paulo 1,Kit Teclado e Mouse Sem Fio,2,180R$,360.0
2,1,2023-01-01,Loja São Paulo 1,HD SSD Kingston 500 Gb,1,368R$,368.0
3,2,2023-01-02,Loja São Paulo 1,Memória DDR 4 Seagate 4 Gb,3,250R$,750.0
4,2,2023-01-02,Loja São Paulo 1,Cartucho de Tinta HP BK123,1,70R$,70.0

In [ ]:
df_dez = pd.read_excel('Vendas - Dez.xlsx')
df_dez.head()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2023-12-01,Loja Porto Alegre,Kit Teclado e Mouse Sem Fio,5,114,570
1,65014,2023-12-01,Loja Porto Alegre,Mouse sem Fio Microsoft,1,269,269
2,65016,2023-12-01,Loja São Paulo 2,Mouse Pad Colorido,2,363,726
3,65016,2023-12-01,Loja São Paulo 2,Mouse sem Fio Microsoft,1,250,250
4,65017,2023-12-01,Loja Fortaleza,Teclado sem Fio Megaware,3,92,276

In [ ]:
df_gerentes = pd.read_excel('Gerentes.xlsx')
df_gerentes.head()

                 ID Loja  Gerente
0       Loja São Paulo 1    Paulo
1       Loja São Paulo 2    Joana
2       Loja São Paulo 3    Maria
3          Loja Campinas  Letícia
4  Loja Rio de Janeiro 1    Fábio

## Analise exploratória

In [ ]:
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93910 entries, 0 to 93909
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Código Venda    93910 non-null  int64
 1   Data            93910 non-null  datetime64[ns]
 2   ID Loja         93910 non-null  object
 3   Produto         93910 non-null  object
 4   Quantidade      93910 non-null  int64
 5   Valor Unitário  93910 non-null  object
 6   Valor Final     93766 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 5.0+ MB

In [ ]:
df_dez.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7089 entries, 0 to 7088
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Código Venda    7089 non-null   int64
 1   Data            7089 non-null   datetime64[ns]
 2   ID Loja         7089 non-null   object
 3   Produto         7089 non-null   object
 4   Quantidade      7089 non-null   int64
 5   Valor Unitário  7089 non-null   int64
 6   Valor Final     7089 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 387.8+ KB

In [ ]:
df_gerentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID Loja  14 non-null     object
 1   Gerente  14 non-null     object
dtypes: object(2)
memory usage: 356.0+ bytes

In [ ]:
df_vendas.isna().sum()

Código Venda        0
Data                0
ID Loja             0
Produto             0
Quantidade          0
Valor Unitário      0
Valor Final       144
dtype: int64

In [ ]:
df_dez.isna().sum()

Código Venda      0
Data              0
ID Loja           0
Produto           0
Quantidade        0
Valor Unitário    0
Valor Final       0
dtype: int64

In [ ]:
df_gerentes.isna().sum()

ID Loja    0
Gerente    0
dtype: int64

In [ ]:
df_vendas.duplicated().sum()

np.int64(1150)

In [ ]:
df_gerentes.duplicated().sum()

np.int64(0)

In [ ]:
df_dez.duplicated().sum()

np.int64(16)

##Tratamento de dados

### Duplicados

In [ ]:
df_vendas.drop_duplicates(inplace=True)

In [ ]:
df_dez.drop_duplicates(inplace=True)

###Transformando os tipos de dados

In [ ]:
df_vendas.columns = list(i.strip().lower().replace(' ','_') for i in df_vendas.columns)

In [ ]:
df_dez.columns = list(i.strip().lower().replace(' ','_') for i in df_dez.columns)

In [ ]:
df_gerentes.columns = list(i.strip().lower().replace(' ','_') for i in df_gerentes.columns)

In [ ]:
df_vendas['valor_unitário'] = df_vendas['valor_unitário'].str.replace(r'R\$', '', regex=True)

In [ ]:
df_vendas['valor_unitário'] = df_vendas['valor_unitário'].astype(float)

##Concatenando os DataFrame (novas linhas)

In [ ]:
df_vendas_total = pd.concat([df_vendas,df_dez], axis=0, join='inner')

##Mesclando os dados (novas colunas)

In [ ]:
df_final = pd.merge(left=df_vendas_total, right=df_gerentes, on='id_loja',how='inner')

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99833 entries, 0 to 99832
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   código_venda    99833 non-null  int64
 1   data            99833 non-null  datetime64[ns]
 2   id_loja         99833 non-null  object
 3   produto         99833 non-null  object
 4   quantidade      99833 non-null  int64
 5   valor_unitário  99833 non-null  float64
 6   valor_final     99689 non-null  float64
 7   gerente         99833 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 6.1+ MB

In [ ]:
df_final.drop(columns='código_venda', inplace=True)

In [ ]:
df_final['valor_final'].fillna(df_final['quantidade']*df_final['valor_unitário'], inplace=True)

/tmp/ipython-input-1722038826.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final['valor_final'].fillna(df_final['quantidade']*df_final['valor_unitário'], inplace=True)

1. Qual foi o faturamento analisado?

In [ ]:
faturamento = df_final['valor_final'].sum()
print(f'Faturamento:  R${faturamento:,.2f}')

Faturamento:  R$45,468,786.00

2. Qual loja teve o maior faturamento?

In [ ]:
df_lj = df_final.groupby('id_loja')['valor_final'].sum().reset_index().sort_values(by='valor_final', ascending=False)
df_lj.head(1)

             id_loja  valor_final
13  Loja São Paulo 3    7130618.0

3. Qual produto foi o mais vendido em quantidade?

In [ ]:
df_qtd_prod = df_final.groupby('produto')['quantidade'].sum().reset_index().sort_values(by='quantidade', ascending=False)
df_qtd_prod.head(1)

                       produto  quantidade
19  Memória DDR 4 Seagate 4 Gb       36251

4. Qual produto foi o menos vendido em quantidade?

In [ ]:
df_qtd_prod.tail(1)

                produto  quantidade
13  HD SSD Seagate 1 Tb        1601

5. Qual produto gerou a maior receita?

In [ ]:
df_receita_prod = df_final.groupby('produto')['valor_final'].sum().reset_index().sort_values(by='valor_final', ascending=False)

df_receita_prod.head(1)

                       produto  valor_final
19  Memória DDR 4 Seagate 4 Gb    9062750.0

6. Qual foi o mês com maior faturamento?

In [ ]:
df_final['mes'] = df_final['data'].dt.month

In [ ]:
df_fat_mes = df_final.groupby('mes')['valor_final'].sum().reset_index().sort_values(by='valor_final', ascending=False)

df_fat_mes['mes'] = df_fat_mes['mes'].replace({
    1:'Janeiro',
    2:'Fevereiro',
    3:'Março',
    4:'Abril',
    5:'Maio',
    6:'Junho',
    7:'Julho',
    8:'Agosto',
    9:'Setembro',
    10:'Outubro',
    11:'Novembro',
    12:'Dezembro'
})
df_fat_mes.head(1)

     mes  valor_final
2  Março    3992218.0

7. Quais foram os produtos mais vendidos por cada gerente?

In [ ]:
gerente = df_final.groupby(['gerente', 'produto'])['quantidade'].sum().reset_index()

idx = gerente.groupby('gerente')['quantidade'].idxmax()

df_top5 = gerente.loc[idx].sort_values(by='quantidade', ascending=False)

df_top5.head()

    gerente                     produto  quantidade
426   Maria  Memória DDR 4 Seagate 4 Gb        5660
204   Joana  Memória DDR 4 Seagate 4 Gb        4367
352   Luiza  Memória DDR 4 Seagate 4 Gb        4331
500   Paulo  Memória DDR 4 Seagate 4 Gb        4323
167   Fábio  Memória DDR 4 Seagate 4 Gb        4173